@import '../../Assets/Styles/mixins';
@import '../../Assets/Styles/variables.scss';
@import '../../Assets/Styles/colors.scss';

.MainPage_container {
    width: $percent95;
  margin: $zero;
  padding:$px64 $px48 $px128 $px48;
}

.MainPage_header {
    @include displayFlexSpaceBetween;
    margin-bottom: $px64;
}

.MainPage_title {
    font-size:$px40;
}

.MainPage_content {
    @include displayFlex;
    height: $px800;
    margin-bottom: $px64;
    @include alignItemsCenter;
}

.MainPage_content_categories {
    height: $px500;
    width: $px32;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    padding: $px50 $zero 70px $px50;
    @include displayFlexSpaceBetween;
    transform: rotate(180deg);
}

.MainPage_content_category {
    font-size: $px30;
}

.MainPage_category_active {
    @include positionRelative;
    top: 36px;
    right: $px64;
    color: $blueLight;
    font-size: $px50;
}

.MainPage_content_carousel {
    width: $percent95;
}

.Search_container {
    @include displayFlexSpaceBetween;
    margin-bottom: $px64;
}

.Search_input {
    @include positionRelative;
    @include width100;
    margin-right: $px24;
}

.Search {
    border: none;
    height: 60px;
    width:$percent95;
    font-size: $px50;
    border-radius: $px20;
    @include shadowBox;
    padding: $px20;
}

.Search::placeholder {
    font-size: $px50;
    opacity: 0.2;
}

.Search_icon {
    @include positionAbsolute;
  top: $px30;
  right: $px50;
}

.Search_parameters {
    cursor: pointer;
}

.Search_parameters .Button {
    height: 100px;
    width: 100px;
}

.Search_parameters .Button .Button__icon {
    height: 100px;
    width: 100px;
    @include displayFlex;
    @include alignItemsCenter;
}

.MainPage_Modal_options {
    margin-top: $px24;
    @include displayFlexSpaceBetween;
}

.MainPage_Modal_results {
    margin-top: $px40;
    flex-wrap: wrap;
}

.MainPage_Modal_results .Button {
    margin-top: $px24;
}

.MainPage_Modal_results .Button:not(:last-child) {
    margin-right: $px24;
}