@import '../../Assets/Styles/mixins';
@import '../../Assets/Styles/variables.scss';

.MainPage_container {
    width: 95%;
  margin: 0;
  padding:64px 48px 128px 48px;
}

.MainPage_header {
    @include displayFlexSpaceBetween;
    margin-bottom: 64px;
}

.MainPage_title {
    font-size:40px;
}

.MainPage_content {
    display: flex;
    height: 800px;
    margin-bottom: 64px;
    @include alignItemsCenter;
}

.MainPage_content_categories {
    height: 500px;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    padding: 50px 0 70px 50px;
    @include displayFlexSpaceBetween;
    transform: rotate(180deg);
}

.MainPage_content_category {
    font-size: 30px;
}

.MainPage_content_carousel {
    width: 95%;
}

.Search_container {
    @include displayFlexSpaceBetween;
    margin-bottom: 64px;
}

.Search_input {
    position: relative;
    width: 100%;
    margin-right: 24px;
}

.Search {
    border: none;
    height: 60px;
    width:95%;
    font-size: 50px;
    border-radius: $px20;
    box-shadow: 6px 6px 45px #c7c3c3;
    padding: $px20;
}

.Search::placeholder {
    font-size: 50px;
    opacity: 0.2;
}

.Search_icon {
    position: absolute;
  top: 30px;
  right: 50px;
}

.Search_parameters {
    cursor: pointer;
}

.MainPage_Modal_options {
    margin-top: 24px;
    @include displayFlexSpaceBetween;
}

.MainPage_Modal_results {
    margin-top: 40px;
    flex-wrap: wrap;
}

.MainPage_Modal_results .Button {
    margin-top: 24px;
}

.MainPage_Modal_results .Button:not(:last-child) {
    margin-right: 24px;
}