@import '../../Assets/Styles/variables.scss';
@import '../../Assets/Styles/mixins.scss';
@import '../../Assets/Styles/colors.scss';

.Button {
    @include positionRelative;
    @include displayInlineFlex;
    @include alignItemsCenter;    
    padding: $px16 $zero $px16 $px16;
    border: none;
    @include cursorPointer;
    background-color: $blueLight;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

.Button__label {
    @include displayInlineFlex;
    margin-right: $px16;
}

.Button__icon {
    margin-right: $px16;
    @include displayInlineFlex;
    justify-content: center;
}

.Button__icon, .Button__icon img {
    height: $px20;
}

/* ICON STATE */
.Button.Button--has-icon {
    min-width: $px30;
    justify-content: $center;
  }