@import '../../Assets/Styles/mixins';
@import '../../Assets/Styles/variables.scss';
@import '../../Assets/Styles/colors.scss';

.CarouselItem_container {
    border-radius: $px40;
    @include shadowBox;
}

.CarouselItem--principal {
    background: $blueLight;
    @include blueLightGradient;
    height: $px600;
    width: 400px;
    margin-right: $px48;
}

.CarouselItem--second {
    background: rgb(255,136,112);
    background: linear-gradient(180deg, rgba(255,136,112,1) 0%, rgba(255,169,153,1) 50%, rgba(255,206,198,1) $percent100);
    height: $px500;
    width: $px300;
    margin-right: $px48;
}

.CarouselItem--principal .CarouselItem_content {
    padding: $px64 $px64 $zero $px64;
}

.CarouselItem--second .CarouselItem_content {
    padding: $px48 $px48 $zero $px48;
}

.CarouselItem--principal .CarouselItem_header {
    @include displayFlexSpaceBetween;
    @include alignItemsCenter;
    margin-bottom: $px64;
}

.CarouselItem--second .CarouselItem_header {
    @include displayFlexSpaceBetween;
    @include alignItemsCenter;
    margin-bottom: $px32;
}

.CarouselItem--principal .CarouselItem_title, .CarouselItem--principal .CarouselItem_price {
    font-size: $px30;
}

.CarouselItem--second .CarouselItem_title, .CarouselItem--second .CarouselItem_price {
    font-size: $px20;
}

.CarouselItem_image {
    @include width100;
}

.CarouselItem--principal .CarouselItem_image img {
    height: $px300;
    width: 272px;
    margin: $px75 $auto $zero $auto;
    @include displayBlock;
}

.CarouselItem--second .CarouselItem_image img {
    height: 200px;
    width: 190px;
    margin: $px75 $auto $zero $auto;
    @include displayBlock;
}