@import '../../Assets/Styles/mixins';
@import '../../Assets/Styles/variables.scss';

.CarouselItem_container {
    border-radius: 40px;
    box-shadow: 6px 6px 45px #c7c3c3;
}

.CarouselItem--principal {
    background: rgb(112,207,255);
    background: linear-gradient(180deg, rgba(112,207,255,1) 0%, rgba(155,223,255,1) 50%, rgba(196,234,253,1) 100%); 
    height: 600px;
    width: 400px;
    margin-right: 48px;
}

.CarouselItem--second {
    background: rgb(255,136,112);
    background: linear-gradient(180deg, rgba(255,136,112,1) 0%, rgba(255,169,153,1) 50%, rgba(255,206,198,1) 100%);
    height: 500px;
    width: 300px;
    margin-right: 48px;
}

.CarouselItem--principal .CarouselItem_content {
    padding: 64px 64px $zero 64px;
}

.CarouselItem--second .CarouselItem_content {
    padding: 48px 48px $zero 48px;
}

.CarouselItem--principal .CarouselItem_header {
    @include displayFlexSpaceBetween;
    @include alignItemsCenter;
    margin-bottom: 64px;
}

.CarouselItem--second .CarouselItem_header {
    @include displayFlexSpaceBetween;
    @include alignItemsCenter;
    margin-bottom: 32px;
}

.CarouselItem--principal .CarouselItem_title, .CarouselItem--principal .CarouselItem_price {
    font-size: 30px;
}

.CarouselItem--second .CarouselItem_title, .CarouselItem--second .CarouselItem_price {
    font-size: $px20;
}

.CarouselItem_image {
    width: 100%;
}

.CarouselItem--principal .CarouselItem_image img {
    height: 300px;
    width: 272px;
    margin: 75px auto $zero auto;
    display: block;
}

.CarouselItem--second .CarouselItem_image img {
    height: 200px;
    width: 190px;
    margin: 75px auto $zero auto;
    display: block;
}