@import'../../Assets/Styles/mixins';
@import '../../Assets/Styles/variables.scss';
@import '../../Assets/Styles/colors.scss';

.DetailPage_header {
    background: $blueLight;
    @include blueLightGradient;
    height: $px500;
    border-radius: $zero $zero 350px $zero;
    padding:$px64 $px48 $px128 $px48;
    @include positionRelative;
}

.DetailPage_header_actions {
    @include displayFlexSpaceBetween;
    @include positionRelative;
}

.DetailPage_header_image {
    @include width100;
}

.DetailPage_header_image img {
    height: 550px;
    margin: $px150 $auto $zero $auto;
    @include displayBlock;
}

.DetailPage_content {
    padding:$px64 $px48 $px128 $px48;
    margin-top: $px150;
}

.DetailPage_content_title {
    @include displayFlexSpaceBetween;
}

.DetailPage_content_name {
    font-size: $px40;
}

.DetailPage_content_price {
    font-size: 80px;
}

.DetailPage_content_categories {
    @include displayFlexSpaceBetween;
    margin-top: $px64;
}

.DetailPage_content_category {
    margin-right: $px32;
}

.DetailPage_content_category_title {
    font-size: $px30;
    color:$greyLight;
}

.DetailPage_content_category_information {
    @include fontBold;
    font-size: $px30;
    margin-top: $px24;
}

.DetailPage_informations {
    margin-top: $px64;
}

.DetailPage_informations_title {
    @include fontBold;
    font-size: $px30;
}

.DetailPage_informations_content {
    background: -webkit-linear-gradient( #333,#eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: $px40;
  font-size: $px20;
}

.DetailPage_Actions {
    @include displayFlexSpaceBetween;
}

@media screen and (max-width: 1096px) {
    .DetailPage_content_categories {
        flex-wrap: wrap;
    }

    .DetailPage_content_category:last-child {
        margin-top: $px64;
    }
}

  @media screen and (max-width: 807px) {
    .DetailPage_content_categories {
        flex-wrap: wrap;
        margin-top: $zero;
        display: block;
    }

    .DetailPage_content_category {
        margin-top: $px64;
    }
}

@media screen and (max-width: 640px) {
    .DetailPage_content_title {
        display: block;
    }

    .DetailPage_content_price {
        margin-top: $px64;
    }
}
