@import'../../Assets/Styles/mixins';
@import '../../Assets/Styles/variables.scss';

.DetailPage_header {
    background: rgb(112,207,255);
    background: linear-gradient(180deg, rgba(112,207,255,1) 0%, rgba(155,223,255,1) 50%, rgba(196,234,253,1) 100%); 
    height: 500px;
    border-radius: 0 0 350px 0;
    padding:64px 48px 128px 48px;
    position: relative;
}

.DetailPage_header_actions {
    @include displayFlexSpaceBetween;
    position: relative;
}

.DetailPage_header_image {
    width: 100%;
}

.DetailPage_header_image img {
    height: 550px;
    margin: 150px auto 0 auto;
    display: block;
}

.DetailPage_content {
    padding:64px 48px 128px 48px;
    margin-top: 150px;
}

.DetailPage_content_title {
    @include displayFlexSpaceBetween;
}

.DetailPage_content_name {
    font-size: 40px;
}

.DetailPage_content_price {
    font-size: 80px;
}

.DetailPage_content_categories {
    @include displayFlexSpaceBetween;
    margin-top: 64px;
}

.DetailPage_content_category_title {
    font-size: 30px;
    color:#C0C0C0;
}

.DetailPage_content_category_information {
    font-weight: bold;
    font-size: 30px;
    margin-top: 24px;
}

.DetailPage_informations {
    margin-top: 64px;
}

.DetailPage_informations_title {
    font-weight: bold;
    font-size: 30px;
}

.DetailPage_informations_content {
    background: -webkit-linear-gradient( #333,#eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 40px;
  font-size: $px20;
}

.DetailPage_Actions {
    @include displayFlexSpaceBetween;
}
