@import '../../Assets/Styles/variables.scss';
@import '../../Assets/Styles/mixins.scss';
@import '../../Assets/Styles/colors.scss';

.Modal {
  position: fixed;
  top: $zero;
  bottom: $zero;
  left: $zero;
  right: $zero;
  @include displayFlex;
  @include alignItemsCenter;  
  justify-content: $center;
  pointer-events: none;
  z-index: 1000;
}

.Modal__mask {
  @include positionAbsolute;
  @include width100;
  height: $percent100;
  z-index: -1;

  transition: background-color 0.3s ease 0.1s;
}

.Modal__container {
  min-width: $px600;
  max-width: calc($percent100 - $px64);
  max-height: calc($percent100 - $px64);
  margin: $px32;
  padding: $px32;
  background-color: #ffffff;
  border-radius: 8px;
  overflow-y: $auto;
  overflow-x: hidden;
  transform: scale(0);

  transition: transform 0.3s ease;
}

.Modal__header {
  @include displayFlex;
  align-items: flex-start;
  @include width100;
  margin-bottom: $px24;
}

.Modal__title {
  flex-grow: 1;
  margin-right: $px50;
  color: $blueLight;
  font-size: 21px;
  font-weight: 700;
}

.Modal__close {
  margin: $px3 $zero $px3 auto;
}

/* OPEN STATE */
.Modal.Modal--is-open {
  pointer-events: all;
}

.Modal.Modal--is-open .Modal__container {
  transform: scale(1);
}

.Modal.Modal--is-open .Modal__mask {
  background-color: rgba(0, 0, 0, 0.5);
}

/* TOP POSITION */
.Modal.Modal--top {
  align-items: flex-start;
}

/* BOTTOM POSITION */
.Modal.Modal--bottom {
  align-items: flex-end;
}

@media screen and (max-width: 900px) {
  .Modal__container {
    @include width100;
    margin: $px32 $px16;
  }
}
