@import '../../Assets/Styles/variables.scss';
@import '../../Assets/Styles/mixins.scss';

.Carousel_container {
    @include displayFlex;
    height: $px800;
    @include width100;
    overflow-x: hidden;
    @include alignItemsCenter
}

.Carousel_control_left {
    @include positionAbsolute;
    left: 115px;
    @include cursorPointer;
}

.Carousel_control_right {
    @include positionAbsolute;
    right: $px12;
    @include cursorPointer;
}