@import '../../Assets/Styles/variables.scss';
@import '../../Assets/Styles/mixins.scss';

.Carousel_container {
    display: flex;
    height: 800px;
    width: 100%;
    overflow-x: hidden;
    @include alignItemsCenter
}

.Carousel_control_left {
    position: absolute;
    left: 115px;
    @include cursorPointer;
}

.Carousel_control_right {
    position: absolute;
    right: 27px;
    @include cursorPointer;
}