@import'../../Assets/Styles/mixins';
@import '../../Assets/Styles/variables.scss';
@import '../../Assets/Styles/colors.scss';

.Footer_header{
    @include displayFlexSpaceBetween;
    margin-bottom: $px64;
}

.Footer_header_title {
    font-size: $px30;
}

.Footer_header_action {
    font-size: $px30;
    color: $greyLight;
}

.Footer_header_action .Icon{
    margin-left: $px12;
}

.Footer_content {
    @include displayFlexSpaceBetween;
}

.Footer_content_item {
    @include shadowBox;
    height: 250px;
    width: $px180;
    border-radius: $px20;
}

.Footer_content_item img {
    height: $px180;
    margin: 35px $auto;
}