$center: center;
$zero: 0;
$px3: 3px;
$px6: 6px;
$px12: 12px;
$px16: 16px;
$px20: 20px;
$px24: 24px;
$px30: 30px;
$px32: 32px;
$px40: 40px;
$px48: 48px;
$px50: 50px;
$px64: 64px;
$px75: 75px;
$px128: 128px;
$px150: 150px;
$px180: 180px;
$px300: 300px;
$px500: 500px;
$px600: 600px;
$px800: 800px;

$percent95: 95%;
$percent100: 100%;

$auto: auto;